.content {
    color: rgb(68, 68, 68);
}

h1 {
    font-weight: bold;
    font-size: 40px;
    color: rgb(3, 163, 223);
    padding-left: 10rem;
    padding-top: 3rem;
    padding-bottom: 0rem;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    color: rgb(236, 183, 34);
}

h3 {
    font-weight: bold;
    font-size: 17px;
    color: rgb(3, 163, 223);
}

p {
    font-weight: normal;
    font-size: 17px;
}

hr.thick {
    border: 5px solid rgb(3, 163, 223);
}

.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.story-box {
    width: 65%;
    border-style: none;
    background: none;
    padding-left: 10rem;
    padding-right: 5rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.owner-box {
    width: 35%;
    border-style: none;
    background: none;
    padding-left: 2rem;
    padding-right: 10rem; 
    padding-top: 1rem;
    padding-bottom: 1rem;
} 

#quote-text {
    font-weight: normal;
    font-size: 30px;
    color: rgb(3, 163, 223);
}

#quote-speaker {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(3, 163, 223);
}

.instructor-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.instructor1 {
    width: 25%;
    border-style: none;
    background: none;
    padding-left: 10rem;
    padding-right: 5rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.instructor2 {
    width: 25%;
    border-style: none;
    background: none;
    padding-left: 10rem;
    padding-right: 5rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.instructor3 {
    width: 25%;
    border-style: none;
    background: none;
    padding-left: 10rem;
    padding-right: 5rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}